@model Flight_Reservation_System.Models.AirPlane

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaneName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlaneId">Edit</a> |
    <a asp-action="Index">All AirPlanes</a>
</div>
